.home-container {
  .article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 0px 20px 0px 20px;
    line-height: 50px;

    .content-left {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      width: 60%;
  
      .title-text {
        font-size: 2rem;
        font-weight: 500;
        color: black;
      }
    }

    .statistic-box {
      display: flex;
      width: 40%;
      justify-content: flex-end;
  
      .state-item {
        position: relative;
      }
  
      .state-item::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 40px;
        top: 10px;
        right: 20px;
        background: #E8E8E8;
      }
    }
  }

  .grid-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;

    .footer-item {
      font-size: 1.2rem;
    }

    .data-time {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}